$spaces: (
  x-small: 0.8rem,
  small: 1.2rem,
  medium: 2rem,
  large: 2.4rem,
  x-large: 3.2rem
);

$dark: (
  primary: #22AAA1,
  background: #071013,
  text: #F0EFF4,
);

$light: (
  primary: #22AAA1,
  background: #F0EFF4,
  text: #071013,
);

$themes: (
  dark: $dark,
  light: $light
);