$spaces: (
  x-small: 0.8rem,
  small: 1.2rem,
  medium: 2rem,
  large: 2.4rem,
  x-large: 3.2rem
);

$dark: (
  primary: #AF1B3F,
  background: #2A2B2A,
  text: #F8F4E3,
);

$light: (
  primary: #AF1B3F,
  background: #F8F4E3,
  text: #2A2B2A,
);

$themes: (
  dark: $dark,
  light: $light
);