@import '../../Styles/mixins.scss';

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  border-bottom: 0.2rem solid;
  display: flex;
  justify-content: space-between;
  @include themify(border-bottom-color, primary);
};

.hamburguer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;

  &:hover {
    cursor: pointer;
  }

  &__line {
    width: 2.5rem;
    height: 0.4rem;
    margin: 0.2rem 0;
    transition: transform ease 0.3s;
    @include themify(background-color, primary);
  }

  &.active {
    :nth-child(1) {
      transform: rotate(-45deg) translate(-0.7rem, 0.7rem);
    }

    :nth-child(2) {
      opacity: 0;
    }

    :nth-child(3) {
      transform: rotate(45deg) translate(-0.4rem, -0.4rem);
    }
  }
};

// .hamburguer__line {
//   width: 2.5rem;
//   height: 0.4rem;
//   margin: 0.2rem 0;
//   transition: transform ease 0.3s;
//   @include themify(background-color, primary);
// };